In [2]:
import pandas as pd
import datetime as dt

## Warmup: Working With Datetimes

In [3]:
df = pd.read_csv('warmup_data.csv')
df.head()

  trip_date  searches
0    7/1/14       715
1    7/2/14       733
2    7/3/14       832
3    7/4/14      1211
4    7/5/14      1321

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null object
searches     365 non-null int64
dtypes: int64(1), object(1)
memory usage: 8.6+ KB

In [7]:
type(df.trip_date[0])

str

### Exercise 1:
- Convert the date column to datetime
- Bonus: do it in one line!

In [8]:
#Your code here

x = '7/4/14'
dt.datetime.strptime(x, '%m/%d/%y')

datetime.datetime(2014, 7, 4, 0, 0)

In [9]:
df.trip_date = df.trip_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%y'))

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null datetime64[ns]
searches     365 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.6 KB

### Exercise 2: 
- Find the total searches between 12/25/14 and 1/3/15

In [11]:
#your code here

df2 = df[(df.trip_date > '2014-12-25') & (df.trip_date < '2015-01-03')]
df2.searches.sum()

962299

### Exercise 3: 
- Did Saturdays or Sundays have more total searches in January?

In [13]:
#your code here


x = '7/4/14'
dt.datetime.strptime(x, '%m/%d/%y').weekday()

4

In [15]:
df['weekday'] = df.trip_date.apply(lambda x: x.weekday())
df.head()

   trip_date  searches  weekday
0 2014-07-01       715        1
1 2014-07-02       733        2
2 2014-07-03       832        3
3 2014-07-04      1211        4
4 2014-07-05      1321        5

In [21]:
print "Saturday Searches: {}".format(df['searches'][df.weekday.isin([5])].sum())
print "Saturday Searches: {}".format(df['searches'][df.weekday.isin([6])].sum())

Saturday Searches: 2241032
Saturday Searches: 1665300