In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')

In [4]:
df.head()

  number1  number2
0   0,589  '0,589'
1   0,578  '0,578'
2   7,779  '7,779'
3   0,139  '0,139'
4   1,687  '1,687'

####Exercise 1: Strip the extra comma from the number1 column and convert to integer

In [4]:
#Your code here


df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')
df.number1 = df.number1.str.replace(",","").astype(int)
df.head()

   number1  number2
0      589  '0,589'
1      578  '0,578'
2     7779  '7,779'
3      139  '0,139'
4     1687  '1,687'

In [5]:
#Bonus: Do it a different way


df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')
df.number1 = df.number1.apply(lambda x: x.replace(",","")).astype(int)
df.head()

   number1  number2
0      589  '0,589'
1      578  '0,578'
2     7779  '7,779'
3      139  '0,139'
4     1687  '1,687'

####Exercise 2: Strip the extra quotation marks from the column2 and convert to integer

In [9]:
#Your code here


df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')
df.number2 = df.number2.str[1:-1]
df.number2 = df.number2.str.replace(",","").astype(int)
df.head()

  number1  number2
0   0,589      589
1   0,578      578
2   7,779     7779
3   0,139      139
4   1,687     1687